* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  /* overflow: hidden; */
}

body {
  font-family: Arial, sans-serif;
  color: #392a2a;
  line-height: 1.6;
}
section{
  height: 370px;
  background-color:rgb(78, 74, 74) ;
}
.logo {
  display: block;
  text-align: center;  
  margin-bottom: 2px;
  padding-top:2px;
}

#lo {
  display: block;
  text-align: center;   /* optional */
  margin-top: 0px;      /* thoda gap upar se */
  color: gray;          /* optional styling */
  font-style: italic;
  font-weight:normal;
  font-size: 14px;
  justify-content: space-between;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  /* height: 20px; */
}

/* Header */
header {
  background-color: #222;
  color: white;
  padding: 30px 0;
  height: 25px;
  opacity: .8;
}

.logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
  /* padding-bottom: 10px; */
}

nav {
  float: right;
  position: relative;
  top: -20px;
  height: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;

}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  padding-bottom:  30px;
  top: -30px;
}

/* Hero Section */
.hero {
  background-color: #333;
  color: white;
  padding: 60px 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 500px;
  margin-bottom: 20px;
  /* padding-bottom: 80px; */
}

.hero img {
  width: 300px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

/* About Section */
.about {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about img {
  width: 300px;
  border-radius: 10px;
}

.about h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about p {
  margin-bottom: 15px;
}
